html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: font-sans !important;
  color: #333;
}
.trans-box {
  background-color: #f4f6f6;
  opacity: 0.93;
  padding: 20px 40px 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.music {
  position: fixed;
  right: 10px;
  top: 5px;
}
.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 400px;
  bottom: 0;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  background: url("../images/assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.main-footer {
  padding: 20px 0;
}
@media mq-mobile {
  .main-container {
    top: 45px;
    left: 0px;
    bottom: 0;
    height: auto;
  }
  .main-content {
    left: 0;
    bottom: 0;
    height: auto;
    padding: 10px 10px;
  }
}
.top {
  position: fixed;
  right: 20px;
  top: 290px;
  color: #000 !important;
}
.set-view-mode {
  position: fixed;
  right: 20px;
  top: 230px;
}
.night-mode .trans-box {
  background-color: #1b1b1b !important;
  opacity: 0.9;
  border: 10px;
}
.night-mode p,
.night-mode ul,
.night-mode li,
.night-mode h2,
.night-mode h3,
.night-mode h4 {
  color: #ccd1d1 !important;
}
.night-mode h1 {
  color: #58d68d;
}
.night-mode .post-list {
  color: #ccd1d1 !important;
}
.night-mode .main-content a {
  color: #52be80 !important;
  font-style: bold;
}
.night-mode .main-content a:hover {
  color: #7ad350 !important;
}
.night-mode table tr:hover,
.night-mode table tbody tr:nth-child(2n-1) {
  background: #eed8d8;
}
.night-mode td {
  font-style: bold;
}
.music-player {
  opacity: 0.8;
}
.music-player :hove r {
  opacity: 1 !important;
}
.night-mode .music-player {
  opacity: 0.8;
}
.night-mode .music-player .controls {
  background: #982e4b;
}
.music-player .controls {
  text-align: center;
  width: 100%;
  height: 190px;
  background: #f4f6f6;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
div.list {
  display: none !important;
  visibility: hidden !important;
}
.music-player .play,
.music-player .pause,
.music-player .forward,
.music-player .backward {
  cursor: pointer;
}
.music-player {
  position: fixed;
  width: 241px;
  height: 200px;
  box-shadow: 0 0 60px rgba(0,0,0,0.8);
  border-radius: 10px;
  background: #222;
  overflow: hidden;
  z-index: 0;
  top: 10px;
  right: 20px;
}
.music-player img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
  display: block;
  width: 100% !important;
  height: 100% !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.music-player .info {
  width: 100%;
  height: 100px;
  background: #222;
  background: rgba(0,0,0,0.9);
  text-align: center;
  position: relative;
  padding-right: 50px;
}
.music-player .info .jp-playlist li {
  display: none;
}
.music-player .info .jp-playlist li i {
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  color: rgba(225,225,225,0.8);
}
.music-player .info .jp-playlist li i span {
  font-size: 10px;
  display: block;
  margin-top: 10px;
}
.music-player .info .jp-playlist li.jp-playlist-current {
  display: block;
}
.music-player .info .jp-playlist li .jp-free-media,
.music-player .info .jp-playlist li .jp-playlist-item-remove {
  display: none;
}
.music-player .info .left,
.music-player .info .right {
  width: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.music-player .info .right {
  left: auto;
  right: 30px;
}
.music-player .info [class^="icon-"] {
  margin: 0 0 10px;
}
.music-player .info .center {
  padding: 20px 0 0;
}
.music-player .progress,
.music-player .volume-level {
  width: 100%;
  height: 5px;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0px;
  cursor: pointer;
  border: none;
}
.music-player .progress .ui-slider-range,
.music-player .volume-level .ui-slider-range {
  display: block;
  background: #922b21;
  height: 4px;
  border-radius: 0.5px;
}
.music-player .progress .ui-slider-handle,
.music-player .volume-level .ui-slider-handle {
  position: absolute;
  top: 0px;
  width: 8px;
  height: 13px;
  background: no-repeat center;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
}
.music-player .controls .current {
  font-size: 15px;
  color: #fff;
  color: rgba(225,225,225,0.4);
  padding: 10px 0 10px;
}
.music-player .controls .play-controls a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}
.music-player .controls .volume-level {
  position: relative;
  bottom: auto;
  width: 200px;
  height: 2px;
  margin: 10px auto 0;
  background: rgba(225,225,225,0.3);
}
.music-player .controls .volume-level .ui-slider-range {
  height: 2px;
}
.music-player .controls .volume-level .ui-slider-handle {
  top: -8px;
  margin-left: -9px;
  width: 15px;
  height: 15px;
}
.music-player .controls .volume-level .icon.volume.down,
.music-player .controls .volume-level .icon.volume.off {
  position: absolute;
  right: -34px;
  top: -8px;
  width: 50px;
}
.music-player .controls .volume-level .icon.volume.off {
  right: auto;
  left: -35px;
}
.music-player .controls .volume-level .icon.volume.down {
  right: -40px;
}
[class^="icon-"] {
  width: 20px;
  height: 20px;
  background: no-repeat center;
  display: block;
}
.icon-shuffle {
  background-image: url("//i.imgur.com/AQAxRxS.png");
}
.icon-heart {
  background-image: url("//i.imgur.com/E09T8tf.png");
}
.icon-repeat {
  background-image: url("//i.imgur.com/338F8MX.png");
}
.icon-share {
  background-image: url("//i.imgur.com/PGIC6ME.png");
}
.icon-previous {
  background-image: url("//i.imgur.com/LIqj0nr.png");
}
.icon-play {
  background-image: url("//i.imgur.com/xlBv5aR.png");
}
.icon-pause {
  background-image: url("//i.imgur.com/lIhwduj.png");
}
.icon-next {
  background-image: url("//i.imgur.com/Mb6Nzj5.png");
}
.cup {
  width: 76px;
  height: 76px;
  background: #dedede;
  border-radius: 50%;
  position: fixed;
  left: 96%;
  margin-left: -38px;
  bottom: 50%;
  box-shadow: -4px -1px 0 rgba(0,0,0,0.2);
}
.cup:after {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(-45deg, #cbcbcb, #f2f2f2);
  left: 50%;
  margin-left: -33px;
  top: 5px;
}
.coffee {
  width: 47px;
  height: 47px;
  background: #613317;
/*background-image: linear-gradient(15deg, transparent 0px, transparent 29px, rgba(255,255,255,0.05) 29px, rgba(255,255,255,0.05) 47px);*/
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  z-index: 1;
  top: 50%;
  margin-top: -26px;
  border: 3px solid #e9e9e9;
  box-shadow: -3px 2px 0 rgba(0,0,0,0.1);
  transform: rotate(30deg);
  transition: transform 0.3s;
}
.coffee:after {
/*assa*/
  content: "";
  width: 15px;
  height: 8px;
  position: absolute;
  left: -19px;
  top: 18px;
  background: linear-gradient(90deg, #d6d6d6, #aeaeae);
  box-shadow: 0px 2px 0 rgba(0,0,0,0.2);
}
.coffee:before {
  content: "";
  width: 47px;
  height: 47px;
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -webkit-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -webkit-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -moz-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -moz-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  position: absolute;
  left: 0;
  border-radius: 50%;
}
.cup:hover .coffee {
  transform: rotate(15deg);
}
.smoke {
  width: 70px;
  height: 100px;
background
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 43px;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -webkit-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -moz-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  animation: bk 11s infinite;
}
.smoke:after {
  content: "";
  width: 100px;
  height: 100px;
background
  position: absolute;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  animation: bk 2s 1s infinite;
}
.txt {
  position: absolute;
  top: 184px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
}
.txt a {
  text-decoration: none;
  color: #613317;
}
.txt a:hover {
  text-decoration: underline;
}
@-moz-keyframes bk {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0;
  }
}
@-webkit-keyframes bk {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0;
  }
}
@-o-keyframes bk {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0;
  }
}
@keyframes bk {
  0% {
    background-position: 0 0;
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
  100% {
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
    opacity: 0;
  }
}
