html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: font-sans !important;
  color: #333;
}
.trans-box {
  background-color: #fff;
  opacity: 0.93;
  padding: 20px 40px 0;
}
.music {
  position: fixed;
  right: 10px;
  top: 5px;
}
.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.main-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 400px;
  bottom: 0;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  background: url("../images/assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}
.main-footer {
  padding: 20px 0;
}
@media mq-mobile {
  .main-container {
    top: 45px;
    left: 0px;
    bottom: 0;
    height: auto;
  }
  .main-content {
    left: 0;
    bottom: 0;
    height: auto;
    padding: 10px 10px;
  }
}
.top {
  position: fixed;
  right: 20px;
  top: 480px;
  color: #000 !important;
}
.set-view-mode {
  position: fixed;
  right: 20px;
  top: 430px;
}
.night-mode .trans-box {
  background-color: #1b1b1b !important;
  opacity: 0.9;
  border: 10px;
}
.night-mode p,
.night-mode ul,
.night-mode li,
.night-mode h2,
.night-mode h3,
.night-mode h4 {
  color: #ccd1d1 !important;
}
.night-mode h1 {
  color: #f4f6f6;
}
.night-mode .post-list {
  color: #ccd1d1 !important;
}
.night-mode .main-content a {
  color: #52be80 !important;
  font-style: bold;
}
.night-mode .main-content a:hover {
  color: #7ad350 !important;
}
.night-mode table tr:hover,
.night-mode table tbody tr:nth-child(2n-1) {
  background: #eed8d8;
}
.night-mode td {
  font-style: bold;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
div.list {
  display: none !important;
  visibility: hidden !important;
}
